<div class="container-fluid full-height">
  <div class="row row-height">
    <div class="col-lg-12 content-left">
      <div class="content-left-wrapper">
        <!-- <a href="" id="logo"><img src="../assets/img/survey-logo.png" alt="" width="50" height="50"></a> -->
        <div>
          <figure><img src="../assets/img/survey-logo.png" alt="" height="200px"></figure>
          <h2>Software Chasers Survey</h2>
          <p>This is survey website for web application development project, presented by group 6 from comp229</p>
        
          <ul class="mdc-list">
              <li class="mdc-list-item" tabindex="0">
                <span class="mdc-list-item__ripple"></span>
                <span class="mdc-list-item__text">Gargi Soni - 301106486</span>
              </li>
              <li class="mdc-list-item">
                <span class="mdc-list-item__ripple"></span>
                <span class="mdc-list-item__text">Sai Krishna Amaraneni - 301151074</span>
              </li>
              <li role="separator" class="mdc-list-divider"></li>
              <li class="mdc-list-item">
                <span class="mdc-list-item__ripple"></span>
                <span class="mdc-list-item__text">Vikram Singh - 301152062</span>
              </li>
              <li class="mdc-list-item">
                <span class="mdc-list-item__ripple"></span>
                <span class="mdc-list-item__text">Ritika - 301113295</span>
              </li>
                <li class="mdc-list-item">
                <span class="mdc-list-item__ripple"></span>
                <span class="mdc-list-item__text">Meghna A. Bilimoria - 301127778</span>
              </li>
                <li class="mdc-list-item">
                <span class="mdc-list-item__ripple"></span>
                <span class="mdc-list-item__text">Abhishek - 301109190</span>
              </li>
            </ul>
        </div>
        <div class="copy">Copyright © {{getMonthYear()}}. All Rights Reserved.</div>
      </div>
    </div>

  </div>